body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use viewport height to ensure footer positioning */
}

/* Navigation bar styling */
.navbar {
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; /* Allow the navbar to wrap on smaller screens */
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar a, .navbar input[type=text] {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px 15px;
    white-space: nowrap; /* Prevents the text in navbar from wrapping */
}

.navbar input[type=text] {
    background: white;
    color: black;
    border-radius: 5px;
    flex-grow: 1; /* Allow the search input to grow */
    margin-left: 10px; /* Add margin to the left of the search bar */
}

/* Adjusts search input on smaller screens */
@media (max-width: 768px) {
    .navbar input[type=text] {
        flex-grow: 0; /* Prevent the search bar from taking too much space */
        width: 50%; /* Fixed width for mobile */
        min-width: 150px; /* Minimum width so it doesn't become too small */
    }
}

/* Flexbox for image gallery to keep images docked properly */
.image-gallery {
    background-color: #000; /* Set background color to black */
    color: white; /* Set text color to white */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

/* Individual image container */
.image-container {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

/* Responsive images */
.image-container img {
    width: 100%;
    height: auto;
}

.image-container p {
    color: white; /* Set text color to white */
}

/* Blog entry styling */
.blog-entry {
    background-color: #f8f8f8;
    padding: 20px;
    border-top: solid 4px black;
}

/* Separator styling */
.separator-footer {
    height: 4px;
    background-color: #000; /* Or any color that fits the design */
}

/* Footer styling */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Ensure footer is at the bottom */
}

/* Media query for responsive layout adjustments */
@media (max-width: 768px) {
    .navbar {
        justify-content: center; /* Center the navbar items on smaller screens */
    }

    .navbar a, .navbar input[type=text] {
        padding: 10px;
        margin: 5px;
        font-size: 12px; /* Reduce font size for small screens */
    }

    .image-gallery {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        max-width: 100%;
    }
}
